@use "variables" as *;

html {
    /* if we set our root element font-size to 125%, then 1 rem = 20px */
    font-size: 125%;
}

body {
    font-family: $body-font;
    font-size: 1rem;
    color: $black;
}

h1,
h2,
h3,
h4,
blockquote {
    font-family: $header-font;
    font-weight: normal;
    color: $black;
    margin: 0;
    text-transform: uppercase;
}

h1 {
    font-size: 2rem;
    font-weight: bold;
}

h2 {
    font-size: 3.2rem;
    font-weight: bold;
    letter-spacing: 0.1rem;
    line-height: 3rem;
    margin-bottom: 24px;
}

h3 {
    font-size: 2rem;
    font-weight: bold;
    letter-spacing: 0.05rem;
    line-height: 3rem;
    margin-bottom: 24px;
}

h4 {
    font-size: 1rem;
    line-height: 2rem;
    margin-bottom: 18px;
}

h5 {
    font-size: 0.85rem;
    line-height: 1.2rem;
    letter-spacing: 0.05rem;
    text-transform: uppercase;
    margin: 0 0 24px 0;
}

h6 {
    font-size: 0.8rem;
    letter-spacing: 0.3rem;
    text-transform: uppercase;
}

p {
    font-family: $body-font;
    font-size: 0.7rem;
    margin-bottom: 20px;
    color: rgba($color: $black, $alpha: 0.6);
    line-height: 1rem;
    margin: 0;

    &.small-copy {
        font-size: 0.6rem;
        line-height: 1.2rem;
        font-weight: bold;
        margin: 0;
    }
}

ul,
li,
a,
input {
    padding: 0;
    margin: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    transition: 0.3s;
}

.wrapper {
    max-width: 1260px;
    width: 90%;
    margin: 0 auto;
}

button,
input,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
    padding: 0;
    margin: 0;
}

button {
    color: $black;
    background-color: transparent;
    padding: 5px;
    border: none;
    border-bottom: 2px solid rgba($color: $black, $alpha: 0.2);
    text-transform: uppercase;
    font-size: 0.8rem;
    font-weight: 400;
    letter-spacing: 0.1rem;
    line-height: 1.2rem;
    text-align: center;
    cursor: pointer;
    transition: 0.3s;

    &:hover,
    &:focus {
        background-color: $black;
        color: $white-two;
        border-bottom: 2px solid $black;
    }

    /* style the button in the main nav menu to look just like an icon */
    &.search-icon {
        display: inherit;
        padding: 0;
        border: none;
        text-decoration: line-through;
        text-decoration-color: transparent;

        &:hover,
        &:focus {
            text-decoration-color: $black;
            background-color: transparent;
            color: $black;
        }
    }
}

a {
    &.button {
        color: $black;
        background-color: transparent;
        padding: 18px 36px;
        border: 2px solid $black;
        font-size: 0.8rem;
        font-weight: bold;
        line-height: 1.2rem;
        text-align: center;
        transition: 0.3s;

        &:hover,
        &:focus {
            background-color: $black;
            color: $white;
        }
    }
}