@use "./variables" as *;

footer {
    background-color: $black;
    color: $white-two;
    font-family: $nav-font;
    font-weight: 400;
    padding: 120px 0;

    /* shared properties of all h5 in the footer */
    h5 {
        font-family: $nav-font;
        font-weight: 400;
        color: $white-two;
        margin-bottom: 40px;
    }

    /* shared properties of all paragraphs in the footer */
    p {
        font-family: $nav-font;
        font-weight: 400;
        font-size: 0.6rem;
        color: $white-two;
        letter-spacing: 0.05rem;
    }

    /* set up flexbox */
    .footer-nav {
        width: 100%;
        display: flex;
        justify-content: space-between;

        /* each element of footer takes up 1/3 of the space */
        .footer-box {
            flex-wrap: nowrap;
            flex-basis: 33%;
        }

        .social-media {
            margin-top: 30px;

            /* styling only for social media icons */
            i {
                padding-right: 15px;
                color: rgba($color: $white-two, $alpha: 0.8);
                font-size: 0.8rem;
            }
        }

        /* in the Contact Us section, keep the a href (on the mailto:) the same as the rest of the text */
        .footer-contact {
            a {
                color: $white-two;
            }
        }

        /* middle section of footer, so we align it to look "centered" */
        .footer-blog {
            h5 {
                text-align: center;
            }
            li:nth-child(n+2) {
                list-style: inside;
                padding-left: 13%;
            }
        }

        /* right-side section of footer so we align it to the right */
        .footer-twitter {
            h5,
            p {
                text-align: right;
            }

            p {
                position: relative;
            }
        }

        /* email input field styling; place the "arrow" button relative to the input field */
        input {
            width: 65%;
            margin: 30px 0;
            padding: 10px;

            font-family: $nav-font;
            font-size: 0.6rem;
            color:rgba($color: $black, $alpha: 0.8)
        }

        button {
            padding: 6px 15px;
            background-color: $light-sage;
            position: absolute;
            bottom: 32px;
            right: 0px;
            border: none;
        }

        /* common styles for all anchor tags */
        a {
            color: rgba($color: $white-two, $alpha: 0.8);
            font-size: 0.7rem;
            line-height: 1rem;

            &:hover,
            &:focus {
                color: rgba($color: $white, $alpha: 1);
            }
        }
    }
}