@media (max-width: 1300px) {
    // Give Services text a little more room
    .services {
        .services-wrapper {
            margin-left: 37%;
        }
    }
}

@media (max-width: 1100px) {
    /* all of our styles for smaller DESKTOP devices will go within this breakpoint */

// Give Services text a little more room and a little less padding
    .services {
        .services-wrapper {
            margin-left: 30%;

            .services-item {
                .services-item-text {
                    padding: 0 20px 20px 20px;
                }
            }
        }
    }

    // Re-orient the Nav elements into columns on either side of logo/title
    .nav-bar {

        .nav-menu {
            flex-direction: column;

            a {
                    margin: 5px auto;
            }
        }

        button {
            margin-top: 10px;
        }
    }

    // In index, we move/resize the overlay image
    .branding {
        .branding-img {

            // Resize the overlay image on index.html
            .overlay {
                transform: scale(0.8);
                left: 16%;
            }
        }
    }

    // In the blog and contacts page we re-order form elements (name, email, subject) so they can be easily seen
    .comment-box {
        .form-header {
            flex-direction: column;
        }
    }
}

@media (max-width: 800px) {
    /* all of our styles for TABLET devices will go within this breakpoint */

    // At this point Services items will only fit one "box" per line
    .services {
        .services-wrapper {
            margin-left: 25%;

            .services-item {
                flex-basis: 90%;
            }
        }
    }

    // Resize the overlay image on index.html
    .branding {
        .branding-img {
            .overlay {
                transform: scale(0.6);
                left: 11%;
            }
        }
    }

    // Flex the footer elements in a column, align their headers and content to match
    footer {
        .footer-nav {
            flex-direction: column;

            .footer-box {
                margin-bottom: 30px;

                h5 {
                    text-align: center;
                }

                p,
                .social-media {
                    text-align: left;
                    padding-left: 13%;
                }

                button {
                    right: 100px;
                }
            }
        }
    }
}

@media (max-width: 500px) {
    /* all of our styles for MOBILE devices will go within this breakpoint */

    // Final increase in services wrapper size to accomodate text
    .services {
        .services-wrapper {
            margin-left: 10%;
        }
    }

    // Resize the overlay image on index.html
    .branding {
        .branding-img {
            .overlay {
                transform: scale(0.3);
                left: 2%;
            }
        }
    }

    // For the blog page, re-order the elements in a blog post header so they don't squish
    .blog {
        .blog-post-header {
            flex-direction: column;
            width: 100%;

            .blog-author,
            .blog-info {
                width: 100%;
            }

            .blog-info {
                flex-direction: column;

                .blog-info-text {
                    width: 100%;
                }
            }
        }
    }
}