// Largely taken from e-commerce code along, modified from there

@use "variables" as *;

.nav-bar {

    /* keep Nav Bar at the top of the screen, keep the background behind it but faded with alpha 0.8 */
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: rgba($color: $white-two, $alpha: 0.8);
    /* background-image: linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1)), url(../assets/home-1.jpeg); */
    background-attachment: fixed;
    background-position: auto, center top;

    .wrapper {
        display: flex;
        justify-content: space-between;
        padding: 20px 0;
    }

    .nav-menu,
    .nav-menu-center {
        flex-basis: 30%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;

        a,
        h1 {
            margin: 0 auto;
        }

        a {
            text-decoration: line-through;
            text-decoration-color: transparent;
            transition: text-decoration-color 0.5s ease;
        }

        a:hover,
        a:focus {
            text-decoration-color: $black;
        }

        .logo {
            text-decoration: none;
        }
    }

    .nav-menu {
        flex-basis: 25%;
    }

    .nav-menu-center {
        flex-basis: 50%;
        flex-shrink: 0;
    }
    

    .menu-icon {
        font-family: $nav-font;
        font-size: 0.8rem;
        text-transform: uppercase;
    }

    button {
        padding: 0;
        margin: 0 10px;
    }

    .icon {
        font-size: 1rem;
        margin-left: 20px;
        margin-right: 20px;
    }

    .search-cart {
        display: flex;
    }

    .counter {
        display: flex;
        align-items: center;
        width: 100%;
        height: auto;

        p {
            width: 20px;
            height: 20px;
            font-size: 0.6rem;
            background-color: $light-sage;
            color: $black;
            text-align: center;
            border-radius: 50%;
            position: relative;
            bottom: -8px;
            right: 10px;
        }
    }
}