// Largely taken from e-commerce code along, modified from there

@use "variables" as *;

.nav-bar {
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: $white;

    .wrapper {
        display: flex;
        justify-content: space-between;
        padding: 20px 0;
    }

    .search-cart {
        display: flex;

        .search-icon,
        .bag {
            margin-right: 15px;
        }
    }

    a {
        display: flex;
    }

    .logo {
        margin-left: 60px;
    }

    .counter {
        display: flex;
        align-items: center;

        p {
            width: 24px;
            height: 24px;
            background-color: $black;
            color: $white;
            text-align: center;
            border-radius: 50%;
        }
    }
}

.slide-out-nav {
    padding: 35px 50px;
    border-right: 1px solid $black;
    width: 100%;
    max-width: 506px;
    height: 100vh;
    background-color: $black;
    color: $white;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: -506px;
    z-index: 20;
    transition: 0.75s;

    .button-container {
        display: flex;
        justify-content: flex-end;

        button {
            padding: 10px 0 10px 20px;
        }
    }

    .main-menu {
        a {
            font-family: $nav-font;
            font-size: 1.6rem;
            line-height: 2.5rem;
            color: rgba($color: $white, $alpha: 1);

            &:hover,
            &:focus {
                color: rgba($color: $white, $alpha: 0.5);
            }
        }
    }
}