@use "variables" as *;



.blog-gallery {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;

    .blog-gallery-img {
        flex-basis: 32%;
        padding: 0;
        margin: 0;
        text-align: left;
        transition: 0.5s;

        img {
            max-width: 100%;
            width: 100%;
            margin-bottom: 20px;
        }

        &:hover,
        &:focus {
            transform: scale(0.95);
        }
    }
}