@use "./partials/variables" as *;
@use "./partials/setup";

h1 {
    font-family: $header-font;
    font-weight: bold;
}

h2 {
    font-family: $header-font;
    font-weight: normal;
}

body {
    font-family: $body-font;
    font-weight: normal;
}

@use "./partials/media-queries";