@charset "UTF-8";
@import 'https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Open+Sans&display=swap';
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  /* if we set our root element font-size to 125%, then 1 rem = 20px */
  font-size: 125%;
}

body {
  font-family: Open Sans, sans-serif;
  font-size: 1rem;
  color: #333333;
}

h1,
h2,
h3,
h4,
blockquote {
  font-family: Montserrat, sans-serif;
  font-weight: normal;
  color: #333333;
  margin: 0;
  text-transform: uppercase;
}

h1 {
  font-size: 2rem;
  font-weight: bold;
}

h2 {
  font-size: 3.2rem;
  font-weight: bold;
  letter-spacing: 0.1rem;
  line-height: 3rem;
  margin-bottom: 24px;
}

h3 {
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: 0.05rem;
  line-height: 3rem;
  margin-bottom: 24px;
}

h4 {
  font-size: 1rem;
  line-height: 2rem;
  margin-bottom: 18px;
}

h5 {
  font-size: 0.85rem;
  line-height: 1.2rem;
  letter-spacing: 0.05rem;
  text-transform: uppercase;
  margin: 0 0 24px 0;
}

h6 {
  font-size: 0.8rem;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
}

p {
  font-family: Open Sans, sans-serif;
  font-size: 0.7rem;
  margin-bottom: 20px;
  color: rgba(51, 51, 51, 0.6);
  line-height: 1rem;
  margin: 0;
}
p.small-copy {
  font-size: 0.6rem;
  line-height: 1.2rem;
  font-weight: bold;
  margin: 0;
}

ul,
li,
a,
input {
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.wrapper {
  max-width: 1260px;
  width: 90%;
  margin: 0 auto;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  padding: 0;
  margin: 0;
}

button {
  color: #333333;
  background-color: transparent;
  padding: 5px;
  border: none;
  border-bottom: 2px solid rgba(51, 51, 51, 0.2);
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: 400;
  letter-spacing: 0.1rem;
  line-height: 1.2rem;
  text-align: center;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  /* style the button in the main nav menu to look just like an icon */
}
button:hover, button:focus {
  background-color: #333333;
  color: #F6F6F6;
  border-bottom: 2px solid #333333;
}
button.search-icon {
  display: inherit;
  padding: 0;
  border: none;
  text-decoration: line-through;
  -webkit-text-decoration-color: transparent;
          text-decoration-color: transparent;
}
button.search-icon:hover, button.search-icon:focus {
  -webkit-text-decoration-color: #333333;
          text-decoration-color: #333333;
  background-color: transparent;
  color: #333333;
}

a.button {
  color: #333333;
  background-color: transparent;
  padding: 18px 36px;
  border: 2px solid #333333;
  font-size: 0.8rem;
  font-weight: bold;
  line-height: 1.2rem;
  text-align: center;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
a.button:hover, a.button:focus {
  background-color: #333333;
  color: #FFFFFF;
}

.nav-bar {
  /* keep Nav Bar at the top of the screen, keep the background behind it but faded with alpha 0.8 */
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: rgba(246, 246, 246, 0.8);
}
.nav-bar .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px 0;
}
.nav-bar .nav-menu,
.nav-bar .nav-menu-center {
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.nav-bar .nav-menu a,
.nav-bar .nav-menu h1,
.nav-bar .nav-menu-center a,
.nav-bar .nav-menu-center h1 {
  margin: 0 auto;
}
.nav-bar .nav-menu a,
.nav-bar .nav-menu-center a {
  text-decoration: line-through;
  -webkit-text-decoration-color: transparent;
          text-decoration-color: transparent;
  -webkit-transition: -webkit-text-decoration-color 0.5s ease;
  transition: -webkit-text-decoration-color 0.5s ease;
  transition: text-decoration-color 0.5s ease;
  transition: text-decoration-color 0.5s ease, -webkit-text-decoration-color 0.5s ease;
}
.nav-bar .nav-menu a::before, .nav-bar .nav-menu a::after,
.nav-bar .nav-menu-center a::before,
.nav-bar .nav-menu-center a::after {
  content: " ";
}
.nav-bar .nav-menu a:hover, .nav-bar .nav-menu a:focus,
.nav-bar .nav-menu-center a:hover,
.nav-bar .nav-menu-center a:focus {
  -webkit-text-decoration-color: #333333;
          text-decoration-color: #333333;
}
.nav-bar .nav-menu .logo,
.nav-bar .nav-menu-center .logo {
  text-decoration: none;
}
.nav-bar .nav-menu {
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
}
.nav-bar .nav-menu-center {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.nav-bar .menu-icon {
  font-family: Montserrat, sans-serif;
  font-size: 0.8rem;
  text-transform: uppercase;
}
.nav-bar button {
  padding: 0;
  margin: 0 10px;
}
.nav-bar .icon {
  font-size: 1rem;
  margin-left: 20px;
  margin-right: 20px;
}
.nav-bar .search-cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.nav-bar .search-cart a::before, .nav-bar .search-cart a::after {
  content: "";
}
.nav-bar .counter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: auto;
}
.nav-bar .counter p {
  width: 20px;
  height: 20px;
  font-size: 0.6rem;
  background-color: #C3DAB7;
  color: #333333;
  text-align: center;
  border-radius: 50%;
  position: relative;
  bottom: -8px;
  right: 10px;
}

header .header-img {
  height: 110vh;
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: #F6F6F6; /* just in case the image won't load */
  background-image: url(../assets/home-1.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
}
header .header-img-blog {
  height: 100vh;
  background-image: url(../assets/blog-1.jpeg);
}
header .header-img-contact {
  height: 24vh;
  background-image: url(../assets/contact-1.jpeg);
}

.index h2 {
  font-size: 1.5rem;
  font-weight: 400;
  text-align: center;
  letter-spacing: 0.05rem;
}
.index h3 {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
}

.branding {
  background-color: #C3DAB7;
}
.branding p {
  color: #333333;
}
.branding .branding-img {
  padding-top: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
.branding .branding-img img {
  margin: 0 auto;
  width: 40%;
  height: auto;
}
.branding .branding-img .overlay {
  position: absolute;
  top: 80px;
  left: 20%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.branding .branding-img .overlay img {
  margin: 0 auto;
  width: 100%;
  height: auto;
}
.branding .branding-wrapper {
  margin-top: 60px;
  padding-bottom: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.branding .branding-wrapper h3,
.branding .branding-wrapper p {
  text-align: center;
}
.branding .branding-wrapper .branding-item {
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
}

.portfolio {
  margin: 120px 0;
}
.portfolio .portfolio-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.portfolio .portfolio-wrapper .portfolio-arrow {
  -ms-flex-preferred-size: 10%;
      flex-basis: 10%;
}
.portfolio .portfolio-wrapper .portfolio-arrow i {
  font-size: 3rem;
}
.portfolio .portfolio-wrapper .portfolio-arrow-right {
  text-align: right;
}
.portfolio .portfolio-wrapper button {
  border: none;
  color: rgba(51, 51, 51, 0.6);
}
.portfolio .portfolio-wrapper button:hover, .portfolio .portfolio-wrapper button:focus {
  background-color: transparent;
  color: #333333;
}
.portfolio .portfolio-wrapper .portfolio-item {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}
.portfolio .portfolio-wrapper .portfolio-item img {
  display: block;
  margin: 0 auto 60px auto;
  width: 50%;
  height: auto;
  border-radius: 50%;
}
.portfolio .portfolio-wrapper .portfolio-item p {
  text-align: center;
  font-style: italic;
}

.services {
  padding: 180px 0 80px 0;
  background-image: url(../assets/home-4.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top right;
}
.services .services-wrapper {
  margin-left: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.services .services-wrapper .services-item {
  margin-bottom: 40px;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.services .services-wrapper .services-item .services-logo {
  -ms-flex-preferred-size: 18%;
      flex-basis: 18%;
}
.services .services-wrapper .services-item .services-logo i {
  padding: 15px;
  font-size: 1.5rem;
  border-radius: 50%;
  border: 2px solid #333333;
}
.services .services-wrapper .services-item .services-item-text {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding: 0px 40px 40px 40px;
}

.team {
  padding: 120px 0;
}
.team h3 {
  letter-spacing: 0.2rem;
}
.team .team-wrapper {
  margin-bottom: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.team .team-wrapper .team-text-wide {
  -ms-flex-item-align: stretch;
      align-self: stretch;
  -ms-flex-preferred-size: 49.5%;
      flex-basis: 49.5%;
  padding-top: 10%;
  padding-left: 40px;
  padding-right: 40px;
  background-color: #F6F6F6;
}
.team .team-wrapper .team-img {
  -ms-flex-preferred-size: 24%;
      flex-basis: 24%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.team .team-wrapper .team-img img {
  margin: 0 auto;
  width: 100%;
  height: auto;
}
.team .team-wrapper .team-img:hover, .team .team-wrapper .team-img:focus {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}
.team .team-wrapper .team-text {
  -ms-flex-preferred-size: 24%;
      flex-basis: 24%;
  padding: 0 20px;
  text-align: center;
}

.shop {
  background-color: #C3DAB7;
}
.shop .shop-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}
.shop .shop-wrapper .shop-item {
  padding: 380px 200px;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}
.shop .shop-wrapper p {
  margin-top: 40px;
  margin-bottom: 70px;
}
.shop .shop-wrapper button {
  border: none;
  background-color: #F6F6F6;
  padding: 20px 50px;
  font-size: 0.8rem;
  font-weight: bold;
  letter-spacing: 0.1rem;
}
.shop .shop-wrapper button:hover, .shop .shop-wrapper button:focus {
  border: none;
  background-color: #333333;
  color: #F6F6F6;
}
.shop .shop-wrapper .shop-item-right {
  -ms-flex-item-align: stretch;
      align-self: stretch;
  background-image: url(../assets/home-10.jpeg);
  background-size: cover;
}

.blog {
  padding-top: 80px;
}
.blog p {
  margin-bottom: 20px;
}
.blog p .highlighted {
  color: #333333;
}
.blog p .bold {
  font-weight: bold;
}
.blog h3 {
  padding-bottom: 10px;
  margin-bottom: 40px;
  border-bottom: 1px solid rgba(51, 51, 51, 0.2);
}
.blog .share {
  margin-bottom: 80px;
}
.blog .share h4 {
  display: inline;
  padding-right: 20px;
}
.blog .share i {
  padding-right: 20px;
}

.blog-post-header {
  margin-top: 60px;
  padding-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid rgba(51, 51, 51, 0.2);
}
.blog-post-header .blog-author,
.blog-post-header .blog-info {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.blog-post-header .blog-author h4,
.blog-post-header .blog-info h4 {
  padding: 0;
  margin: 0;
  margin-bottom: -5px;
}
.blog-post-header .blog-author img {
  border-radius: 50%;
  margin-right: 25px;
}
.blog-post-header .blog-info {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.blog-post-text {
  margin-top: 60px;
}

.blog-gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}
.blog-gallery .blog-gallery-img {
  -ms-flex-preferred-size: 32%;
      flex-basis: 32%;
  padding: 0;
  margin: 0;
  text-align: left;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.blog-gallery .blog-gallery-img img {
  max-width: 100%;
  width: 100%;
  margin-bottom: 20px;
}
.blog-gallery .blog-gallery-img:hover, .blog-gallery .blog-gallery-img:focus {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

.comment-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: top;
      -ms-flex-align: top;
          align-items: top;
  margin-bottom: 20px;
}
.comment-wrapper .comment-text {
  width: 100%;
  background-color: #F6F6F6;
  margin-left: 20px;
  padding: 5px 20px;
}
.comment-wrapper .comment-text a {
  font-style: italic;
  font-size: 0.8rem;
  color: rgba(51, 51, 51, 0.6);
}
.comment-wrapper .comment-text p {
  margin-top: 10px;
}
.comment-wrapper h4 {
  display: inline;
}

.comment-box .form-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.comment-box .form-header .form-box {
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
}
.comment-box input[type=text] {
  margin-top: 30px;
  margin-bottom: 30px;
  width: 100%;
  color: rgba(51, 51, 51, 0.5);
  border: none;
  outline: none;
  border-bottom: 1px solid rgba(51, 51, 51, 0.2);
}
.comment-box input[type=text]:focus {
  color: #333333;
  border-bottom: 1px solid #333333;
}
.comment-box textarea {
  width: 100%;
  margin-top: 40px;
  margin-bottom: 60px;
  resize: none;
  color: rgba(51, 51, 51, 0.5);
  border: none;
  outline: none;
  border-bottom: 1px solid rgba(51, 51, 51, 0.2);
}
.comment-box textarea:focus {
  color: #333333;
  border-bottom: 1px solid #333333;
}
.comment-box button {
  margin-bottom: 150px;
}

.contact {
  position: relative;
}
.contact .contact-title {
  position: absolute;
  top: calc(-15% + 15px);
}
.contact .contact-title span {
  display: block;
  margin-top: 20px;
}
.contact .contact-title h2 {
  font-size: 2.5rem;
  line-height: 3rem;
}
.contact h3 {
  font-size: 1rem;
}
.contact .contact-details {
  margin-top: 120px;
}
.contact .contact-details .contact-info-wrapper {
  margin: 100px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.contact .contact-details .contact-info-wrapper .contact-info-item {
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
  padding-top: 30px;
  padding-bottom: 30px;
  border-right: 1px solid rgba(51, 51, 51, 0.2);
}
.contact .contact-details .contact-info-wrapper .contact-info-item:last-child {
  border: none;
}
.contact .contact-details h4 {
  margin: 7px 0px;
  font-size: 0.8rem;
  font-weight: bold;
  letter-spacing: 0.3rem;
}
.contact .contact-details p {
  margin: 5px 0px;
}
.contact .contact-details i {
  font-size: 2rem;
  margin-bottom: 10px;
}
.contact .comment-box p {
  margin-bottom: 100px;
}
.contact .comment-box button {
  margin-bottom: 100px;
}
.contact .footer-image {
  margin: 0;
  padding: 0;
  line-height: 0;
}
.contact .footer-image img {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  height: auto;
}

footer {
  background-color: #333333;
  color: #F6F6F6;
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  padding: 120px 0 80px 0;
}
footer h5,
footer h6 {
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  color: #F6F6F6;
  margin-bottom: 40px;
}
footer p {
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  font-size: 0.6rem;
  color: #F6F6F6;
  letter-spacing: 0.05rem;
}
footer h6 {
  text-align: center;
  margin: 0;
}
footer .footer-tag {
  padding-top: 80px;
  margin-top: 120px;
  border-top: 1px solid rgba(246, 246, 246, 0.1);
}
footer .footer-nav {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
footer .footer-nav .footer-box {
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-preferred-size: 33%;
      flex-basis: 33%;
}
footer .footer-nav .social-media {
  margin-top: 30px;
}
footer .footer-nav .social-media i {
  padding-right: 15px;
  color: rgba(246, 246, 246, 0.8);
  font-size: 0.8rem;
}
footer .footer-nav .footer-contact a {
  color: #F6F6F6;
}
footer .footer-nav .footer-blog h5 {
  text-align: center;
}
footer .footer-nav .footer-blog li:nth-child(n+2) {
  list-style: inside;
  padding-left: 13%;
}
footer .footer-nav .footer-twitter h5,
footer .footer-nav .footer-twitter p {
  text-align: right;
}
footer .footer-nav .footer-twitter p {
  position: relative;
}
footer .footer-nav input {
  width: 65%;
  margin: 30px 0;
  padding: 10px;
  font-family: Montserrat, sans-serif;
  font-size: 0.6rem;
  color: rgba(51, 51, 51, 0.8);
}
footer .footer-nav button {
  padding: 8px 15px 7px 15px;
  background-color: #C3DAB7;
  position: absolute;
  bottom: 30px;
  right: 0px;
  border: none;
}
footer .footer-nav a {
  color: rgba(246, 246, 246, 0.8);
  font-size: 0.7rem;
  line-height: 1rem;
}
footer .footer-nav a:hover, footer .footer-nav a:focus {
  color: white;
}

@media (max-width: 1300px) {
  .services .services-wrapper {
    margin-left: 37%;
  }
}
@media (max-width: 1100px) {
  /* all of our styles for smaller DESKTOP devices will go within this breakpoint */
  .services .services-wrapper {
    margin-left: 30%;
  }
  .services .services-wrapper .services-item .services-item-text {
    padding: 0 20px 20px 20px;
  }
  .nav-bar .nav-menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .nav-bar .nav-menu a {
    margin: 5px auto;
  }
  .nav-bar button {
    margin-top: 10px;
  }
  .branding .branding-img .overlay {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
    left: 16%;
  }
  .comment-box .form-header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media (max-width: 800px) {
  /* all of our styles for TABLET devices will go within this breakpoint */
  .services .services-wrapper {
    margin-left: 25%;
  }
  .services .services-wrapper .services-item {
    -ms-flex-preferred-size: 90%;
        flex-basis: 90%;
  }
  .branding .branding-img .overlay {
    -webkit-transform: scale(0.6);
            transform: scale(0.6);
    left: 11%;
  }
}
@media (max-width: 500px) {
  /* all of our styles for MOBILE devices will go within this breakpoint */
  .services .services-wrapper {
    margin-left: 10%;
  }
  .branding .branding-img .overlay {
    -webkit-transform: scale(0.3);
            transform: scale(0.3);
    left: 2%;
  }
  .blog .blog-post-header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
  .blog .blog-post-header .blog-author,
.blog .blog-post-header .blog-info {
    width: 100%;
  }
  .blog .blog-post-header .blog-info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .blog .blog-post-header .blog-info .blog-info-text {
    width: 100%;
  }
  footer .footer-nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  footer .footer-nav .footer-box {
    margin-bottom: 30px;
  }
  footer .footer-nav .footer-box h5 {
    text-align: center;
  }
  footer .footer-nav .footer-box p,
footer .footer-nav .footer-box .social-media {
    text-align: left;
    padding-left: 13%;
  }
  footer .footer-nav .footer-box button {
    right: 100px;
  }
}