@import 'https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Open+Sans&display=swap';
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  /* if we set our root element font-size to 125%, then 1 rem = 20px */
  font-size: 125%;
}

body {
  font-family: Open Sans, sans-serif;
  font-size: 1rem;
  color: #333333;
}

h1,
h2,
h3,
h4,
blockquote {
  font-family: Montserrat, sans-serif;
  font-weight: normal;
  color: #333333;
  margin: 0;
}

h1 {
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
}

h2 {
  font-size: 2rem;
  line-height: 2.4rem;
  margin-bottom: 18px;
}

h3 {
  font-size: 2.7rem;
  line-height: 3rem;
  margin-bottom: 24px;
}

h4 {
  font-size: 1.7rem;
  line-height: 2rem;
  margin-bottom: 18px;
}

h5 {
  font-size: 0.7rem;
  font-weight: bold;
  line-height: 1.2rem;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  margin: 0 0 24px 0;
}

p {
  line-height: 1.5rem;
  margin: 0 0 30px 0;
}
p.small-copy {
  font-size: 0.6rem;
  line-height: 1.2rem;
  font-weight: bold;
  margin: 0;
}

ul,
li,
a,
input {
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.wrapper {
  max-width: 1260px;
  width: 90%;
  margin: 0 auto;
}

button {
  color: #333333;
  background-color: transparent;
  padding: 18px 36px;
  border: 2px solid #333333;
  font-size: 0.8rem;
  font-weight: bold;
  line-height: 1.2rem;
  text-align: center;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  /* style the button in the main nav menu to look just like an icon */
}
button:hover, button:focus {
  background-color: #333333;
  color: #FFFFFF;
}
button.search-icon {
  display: inherit;
  padding: 0;
  border: none;
}
button.search-icon:hover, button.search-icon:focus {
  background-color: transparent;
  color: #333333;
}

a.button {
  color: #333333;
  background-color: transparent;
  padding: 18px 36px;
  border: 2px solid #333333;
  font-size: 0.8rem;
  font-weight: bold;
  line-height: 1.2rem;
  text-align: center;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
a.button:hover, a.button:focus {
  background-color: #333333;
  color: #FFFFFF;
}

.nav-bar {
  /* keep Nav Bar at the top of the screen */
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: #FFFFFF;
}
.nav-bar .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px 0;
}
.nav-bar .nav-menu,
.nav-bar .nav-menu-center {
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.nav-bar .nav-menu a,
.nav-bar .nav-menu h1,
.nav-bar .nav-menu-center a,
.nav-bar .nav-menu-center h1 {
  margin: 0 auto;
}
.nav-bar .nav-menu a,
.nav-bar .nav-menu-center a {
  text-decoration: line-through;
  -webkit-text-decoration-color: transparent;
          text-decoration-color: transparent;
  -webkit-transition: -webkit-text-decoration-color 0.5s ease;
  transition: -webkit-text-decoration-color 0.5s ease;
  transition: text-decoration-color 0.5s ease;
  transition: text-decoration-color 0.5s ease, -webkit-text-decoration-color 0.5s ease;
}
.nav-bar .nav-menu a:hover,
.nav-bar .nav-menu a:focus,
.nav-bar .nav-menu-center a:hover,
.nav-bar .nav-menu-center a:focus {
  -webkit-text-decoration-color: #333333;
          text-decoration-color: #333333;
}
.nav-bar .nav-menu .logo,
.nav-bar .nav-menu-center .logo {
  text-decoration: none;
}
.nav-bar .nav-menu {
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
}
.nav-bar .nav-menu-center {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.nav-bar .menu-icon {
  font-family: Montserrat, sans-serif;
  font-size: 0.8rem;
  text-transform: uppercase;
}
.nav-bar button {
  padding: 0;
  margin: 0 10px;
}
.nav-bar .icon {
  font-size: 1rem;
  margin-left: 20px;
  margin-right: 20px;
}
.nav-bar .search-cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.nav-bar .counter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: auto;
}
.nav-bar .counter p {
  width: 20px;
  height: 20px;
  font-size: 0.6rem;
  background-color: #C3DAB7;
  color: #333333;
  text-align: center;
  border-radius: 50%;
  position: relative;
  bottom: -8px;
  right: 10px;
}

header {
  background-color: #FFFFFF;
  margin-bottom: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
header .header-img-container {
  width: 45%;
}
header .header-img-container img {
  max-width: 100%;
  vertical-align: middle;
}
header .header-content {
  width: 55%;
  color: #333333;
}
header .header-content .content-container {
  margin: 0 auto;
  width: 65%;
}

.category-gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}
.category-gallery .items {
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
  padding: 45px;
  margin: 50px 25px 25px;
  border-radius: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}
.category-gallery .items img {
  max-width: 100%;
  border-radius: 10%;
  margin-bottom: 20px;
}
.category-gallery .items:hover, .category-gallery .items:focus {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.play {
  background-image: url(../assets/background-image.jpg);
  background-position: center;
  background-size: cover;
  min-height: 90vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 0;
}
.play .play-container {
  max-width: 650px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 70px 45px;
  border: 24px solid #F6F6F6;
  background-color: #FFFFFF;
}

footer {
  background-color: #C3DAB7;
  color: #FFFFFF;
  padding: 90px 0 50px 0;
}
footer .footer-flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 90px;
}
footer .footer-flex-container h4 {
  color: #FFFFFF;
}
footer .footer-nav {
  width: 40%;
}
footer .footer-nav nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
footer .footer-nav nav ul {
  width: 33%;
}
footer .footer-nav nav a {
  color: rgba(255, 255, 255, 0.5);
  font-size: 0.8rem;
  line-height: 1.5rem;
}
footer .footer-nav nav a:hover, footer .footer-nav nav a:focus {
  color: white;
}

@media (max-width: 1100px) {
  /* all of our styles for smaller DESKTOP devices will go within this breakpoint */
  /* Re-orient the Nav elements into columns on either side of logo/title */
  .nav-bar .nav-menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .nav-bar .nav-menu a {
    margin: 5px auto;
  }
  .nav-bar button {
    margin-top: 10px;
  }
}
@media (max-width: 800px) {
  /* all of our styles for TABLET devices will go within this breakpoint */
}
@media (max-width: 500px) {
  /* all of our styles for MOBILE devices will go within this breakpoint */
}